<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=username%>'s profile</title>


    <!-- CSS links -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>
  <body>

    <div id = 'page'>
      <!-- ====== NAV ====== -->
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" id = 'logo' href="/">INTAKE</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">&#9675;</span>
        </button>
        <span class = 'col-lg-7 col-md-7'></span>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id='navbarNav'>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies">MOVIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">STATS</a>
            </li>
            <li class="nav-item active">
              <% if(friend_requests.length > 0) { %>
                <a class="nav-link" href="/profile">PROFILE <div class = 'friendRequestNotification float_right'><p><%=friend_requests.length %></p></div></a>
              <% } else { %>
                <a class="nav-link" href="/profile">PROFILE</a>
              <% } %>
            </li>
            <li class="nav_button">
              <a href = '#movieModal' data-toggle="modal" data-target="#movieModal" onclick = 'refreshMovieModal()'>
                <span class="nav-link">+</span>
                <div class="add_hover clicker_cursor">
                  Add a movie
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <%
        function getFormattedDate() {
          const todayTime = new Date();
          const month = todayTime.getMonth() + 1;
          const day = todayTime.getDate();
          const year = todayTime.getFullYear();
          return `${month}-${day}-${year}`;
        }
      %>

      <%
        movies.sort((a,b) => b.total_rating - a.total_rating)
      %>

      <!-- ====== MAIN ====== -->
      <div class="container fade_in" id = 'main'>
        <div class="row">
          <div class = 'col-lg-12 col-md-12 bottom_divider'>
            <div class="row">
              <div class="col-lg-2 col-md-4">
                <div class = 'avatarWrapper float_left'>
                  <svg width='100' height='100' class = 'avatar'>
                    <% for(let y = 0; y < 5; y++) {
                      for(let x = 0; x < 5; x++) {
                        if(avatar.tilemap[y][x] === 1) { %>
                          <rect x = '<%=x*25%>' y = '<%=y*25%>' width='25' height='25' style='fill:<%=avatar.color%>'></rect>
                        <% } else { %>
                          <rect x = '<%=x*25%>' y = '<%=y*25%>' width='25' height='25' style='fill:none%>'></rect>
                        <% } %>
                      <% } %>
                    <% } %>
                  </svg>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 float_center">
                <h1 class = 'float_left'><%= username %></h1>
              </div>
              <div class="col-lg-2 col-sm-2"></div>
            </div>
          </div>
        </div>
        <br>
        <h2>Movies Seen</h2>
        <br>
        <div class="row">
          <% movies.forEach( (movie) => {%>
            <div class="col-lg-3 col-md-3">
              <a class = 'clicker_cursor' onclick='window.location.pathname+="/<%=movie._id%>"'><img src=<%= movie.poster %> width="150" alt=<%= movie.title %> class = 'poster'/></a>
              <p class = 'rating_overview'><%= movie.total_rating %> / 20</p>
            </div>
          <%}) %>
        </div>
      </div>



      <!-- ===== Movie Modal ===== -->
      <div class="modal fade" id="movieModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title primary">Add a new movie</h5>
            </div>
            <div class="modal-body">
              <p id = 'searchError' class = 'warning'></p>
              <div class="row" id = 'search_page_1'>
                <div class="col-lg-3">
                  <span class = 'primary'> Search : </span>
                </div>
                <div class="col-lg-9">
                  <input type="text" class = 'login_input' name = 'searchBar' id = 'searchBar'/>
                </div>
              </div>
              <div class="container" id = 'search_page_2'>
              </div>
              <div class="container" id = 'search_page_3'>
                <div class="col-lg-12 col-md-12" id="search_poster_wrapper">
                </div> <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Entertainment Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'entertainment_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Plot Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'plot_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Style Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'style_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Bias :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'bias_rating_input'> / 5
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col-lg-2 col-md-2">

                  </div>
                  <div id='themeWrapper' class = 'col-lg-10 col-md-10'>

                  </div>
                  <div class="col-lg-2 col-md-2">

                  </div>
                  <div class="col-lg-12 col-md-12">
                    <button type="button" class="btn btn-secondary" onclick = 'addTheme()'>+ Add Theme</button>
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary padded_sm'>Date Viewed : </p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="date" id='viewingDate' value="<%=getFormattedDate()%>" class = 'login_input'/>
                  </div>
                </div>
              </div>
              </div>
            <div class="modal-footer" id = 'footer_main'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick = 'refreshMovieModal()'>Close</button>
              <button type="button" class="primary_btn btn" onclick= "search()" id = 'searchButton'>Search</button>
            </div>
            <div class="modal-footer" id = 'submit_footer'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="primary_btn btn" id = 'submitButton' data-dismiss = 'modal'>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loadingScreen">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <script src = '/js/loading.js'></script>
    <script type="text/javascript" src = '/js/main.js'></script>
    <script type="text/javascript" src = '/js/jquery.min.js'></script>
    <script type="text/javascript" src = '/js/bootstrap.min.js'></script>


    <!-- Footer -->
    <div class="footer fixed-bottom">
      <p> © JACKSON PROWELL</p>
    </div>

  </body>
</html>
