<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INTAKE</title>

    <!-- CSS links -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>

    <div id = 'page'>
      <!-- ====== NAV ====== -->
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" id = 'logo' href="/">INTAKE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class = 'col-lg-7 col-md-7'></span>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">ABOUT</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/movies">MOVIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">STATS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">PROFILE</a>
            </li>
            <li class="nav_button">
              <a href = '#movieModal' data-toggle="modal" data-target="#movieModal" onclick = 'refreshMovieModal()'>
                <span class="nav-link">+</span>
                <div class="add_hover clicker_cursor">
                  Add a movie
                </div>
              </a>
            </li>

          </ul>
        </div>
      </nav>

      <%
        function getFormattedDate(date) {
          const todayTime = new Date(parseInt(date));
          const month = todayTime.getMonth() + 1;
          const day = todayTime.getDate();
          const year = todayTime.getFullYear();
          return `${month}-${day}-${year}`;
        }
      %>

      <!-- ====== MAIN ====== -->
      <div class="container fade_in" id = 'main'>
        <!-- for movie overview (no id specification) -->
        <% if(locals.movieList) { %>
          <% if(movieList.length === 0){ %>
            <div class="row">
              <div class="col-lg-12 col-md-12 addMovieJumbo">
                <div class="addMovieButtonBig" onclick = ''>
                  <a href = '#movieModal' data-toggle="modal" data-target="#movieModal" onclick = 'refreshMovieModal()'>+</a>
                </div>
                <br>
                <h1>Add a new movie</h1>
              </div>
          <% } else { %>
            <h2><%= page_title %></h2>
            <br>
            <div class="row">
              <% movieList.forEach( (movie) => {%>
                <div class="col-lg-3 col-md-3">
                  <a href = <%= '/movies/' + movie._id %>><img src=<%= movie.poster %> width="150" alt=<%= movie.title %> class = 'poster'/></a>
                  <p class = 'rating_overview'><%= movie.total_rating %> / 20</p>
                </div>
              <%}) %>
            <% } %>
          </div>
        <!-- for selected movie -->
        <% } else { %>
          <div class="row">
            <div class="col-lg-3">
              <p class = 'clicker_cursor float_left'><a href="/movies" class = 'primary'>Movies / </a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <img src=<%= selection.poster %> width="250" alt=<%= selection.title %> class = 'poster'/>
            </div>
            <div class="col-lg-4 align_left">
              <h2 class = 'bold'><%= selection.title %></h2>
              <p><span class = 'primary'>Director : </span> <a href = <%= "/stats/director/" + encodeURI(selection.director[0]) %>><%= selection.director[0] %> </a>
                <!-- add additonal directors -->
                <% for(let i = 1; i < selection.director.length; i++) { %>
                  <a href = <%= "/stats/director/" + encodeURI(selection.director[i]) %>, <%=selection.director[i] %></a>
                <% } %>
              </p>
              <p><span class = 'primary'>Writer : </span> <a href = <%= "/stats/writer/" + encodeURI(selection.writer[0]) %>><%= selection.writer[0] %> </a>
                <!-- add additonal writers -->
                <% for(let i = 1; i < selection.writer.length; i++) { %>
                  <a href = <%= "/stats/writer/" + encodeURI(selection.writer[i]) %>>, <%=selection.writer[i] %></a>
                <% } %>
              </p>
              <p><span class = 'primary'>Genres : </span>
                <a href=<%="/stats/genres/" + encodeURI(selection.genres[0])%>><%= selection.genres[0] %></a>
                <% for(let i = 1; i < selection.genres.length; i++) { %>
                  <a href=<%="/stats/genres/" + encodeURI(selection.genres[i])%>>, <%= selection.genres[i] %></a>
                <% } %>
              </p>
              <p><span class = 'primary'>Year Released : </span> <a href = <%='/stats/year/' + selection.year %>> <%= selection.year %></a></p>
              <p><span class = 'primary'>Rated : </span> <a href = <%='/stats/rated/' + selection.rated %>> <%= selection.rated %></a></p>
              <p><span class = 'primary'>Runtime : </span> <a href = <%= '/stats/runtime/' + encodeURI(selection.runtime) %>> <%= selection.runtime %></a></p>
            </div>
            <div class="col-lg-4 align_left h2_break">
              <div class="row">
                <div class = 'col-lg-6'>
                  <p><span class = 'primary'>Entertainment Rating : </span>
                </div>
                <div class="col-lg-6">
                  <p><a href = <%='/stats/entertainment_rating/' + selection.entertainment_rating %>>
                  <svg height="10" width="120">
                  <% for(let i = 1; i <= 5; i++){ %>
                    <% if(i <= selection.entertainment_rating){ %>
                      <circle cx=<%= i*20 %> cy="5" r="4" fill="#EF4AB5" />
                    <% } else { %>
                      <circle cx=<%= i*20 %> cy="5" r="4" fill = "#0e1214" />
                    <% } %>
                  <% } %>
                  </svg>
                  </a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <p><span class = 'primary '>Plot Rating : </span> </p>
                </div>
                <div class="col-lg-6">
                  <p><a href = <%='/stats/plot_rating/' + selection.plot_rating %>>
                    <svg height="10" width="120">
                    <% for(let i = 1; i <= 5; i++){ %>
                      <% if(i <= selection.plot_rating){ %>
                        <circle cx=<%= i*20 %> cy="5" r="4" fill="#EF4AB5" />
                      <% } else { %>
                        <circle cx=<%= i*20 %> cy="5" r="4" fill = "#0e1214" />
                      <% } %>
                    <% } %>
                  </svg>
                  </a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <p><span class = 'primary '>Style Rating : </span></p>
                </div>
                <div class="col-lg-6">
                  <p><a href = <%='/stats/style_rating/' + selection.style_rating %>>
                    <svg height="10" width="120">
                      <% for(let i = 1; i <= 5; i++){ %>
                        <% if(i <= selection.style_rating){ %>
                          <circle cx=<%= i*20 %> cy="5" r="4" fill="#EF4AB5" />
                        <% } else { %>
                          <circle cx=<%= i*20 %> cy="5" r="4" fill = "#0e1214" />
                        <% } %>
                      <% } %>
                    </svg>
                  </a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <p><span class = 'primary '>Bias : </span><p>
                </div>
                <div class="col-lg-6">
                  <p><a href = <%='/stats/bias_rating/' + selection.bias_rating %>>
                    <svg height="10" width="120">
                    <% for(let i = 1; i <= 5; i++){ %>
                      <% if(i <= selection.bias_rating){ %>
                        <circle cx=<%= i*20 %> cy="5" r="4" fill="#EF4AB5" />
                      <% } else { %>
                        <circle cx=<%= i*20 %> cy="5" r="4" fill = "#0e1214" />
                      <% } %>
                    <% } %>
                  </svg>
                  </a></p>
                </div>
              </div>

              <p>
                <span class = 'primary'>Total Rating : </span>
                <a href = "/stats/total_rating/<%=selection.total_rating%>"><%=selection.total_rating %> / 20 </a>
                <% if(selection.total_rating > 18) { %>
                  <span class="revealer">
                    <span class = 'flame_text'>19 Club</span>
                    <img src="/src/images/flame.png" width = '25px' height = '25px' class = 'flame' alt="Flame" />
                  </span>
                <% } %>
              </p>
              <p><span class = 'primary'>Themes : </span>  <a href = <%= '/stats/themes/' + selection.themes[0] %>> <%=selection.themes[0] %> </a>
                <% for(let i = 1; i < selection.themes.length; i++) { %>
                  <a href = <%= '/stats/themes/' + selection.themes[i] %>>, <%=selection.themes[i] %> </a>
                <% } %>
              </p>
              <p><span class = 'primary'>Date Viewed : </span> <%=getFormattedDate(selection.date_added.date)%> </p>
            </div>
            <div class="col-lg-1 col-md-1 match_top">
              <a href = "#movie_options_box" data-toggle="collapse">
                <svg height="10" width="120" class = 'hover_opacity clicker_cursor'>
                  <circle cx="17" cy="5" r="3" fill="#D5D5D5" />
                  <circle cx="32" cy="5" r="3" fill="#D5D5D5" />
                  <circle cx=47 cy="5" r="3" fill="#D5D5D5" />
                </svg>
              </a>
              <div class="movie_options collapse" id = 'movie_options_box'>
                <p class = 'clicker_cursor bold border_bottom'><a data-toggle='modal' data-target="#editModal">Edit</a></p>
                <p class = 'clicker_cursor bold bump_up'><a data-toggle='modal' data-target="#deleteModal">Delete</a></p>
              </div>
            </div>
          </div>
          <div class="row top_seperator align_left">
            <div class="col-lg-6 col-md-6 right_border">
              <p class = 'padded_sm'><span class = 'primary'>Premise : </span> <%= selection.plot %> </p>
            </div>
            <div class="col-lg-6 col-md-6" >
              <div id = 'reviewSection'>
                <h3 class = 'padded_sm bold'>Reviews</h3>
                <%
                  // sort ratings
                  selection.reviews.sort((a,b) => b.upvotes - a.upvotes);

                %>
                <% selection.reviews.forEach((review)=>{ %>
                  <p class = 'padded_sm'>
                    <span class = 'primary'><%=review.username%>:</span>
                    <% if(upvoted_reviews.indexOf(review._id) === -1){ %>
                      <i class="fa fa-thumbs-up clicker_cursor" onclick = 'upvote("<%=review._id%>", this)'></i>
                    <% } else { %>
                      <i class="fa fa-thumbs-up clicker_cursor upvoted" activated = 'true' onclick = 'upvote("<%=review._id%>", this)'></i>
                    <% } %>
                    <span class = 'indented' id = '<%=review._id%>'><%=review.upvotes%></span>
                    <% if(review.username === username) { %>
                      <a class = 'float_right theme_deleter' onclick = 'setupDelete("<%=review._id%>")' data-toggle='modal' data-target="#deleteReviewModal">&times;</a>
                      <a class = 'float_right edit_icon clicker_cursor' onclick='setupEdit("<%=review._id%>")' data-toggle='modal' data-target='#editReviewModal'><i class="fa fa-edit"></i></a>

                    <% } %>
                    <br>
                    <span id = 'review_<%=review._id%>'><%=review.review%></span>
                  </p>
                <% }) %>
                <textarea id = 'reviewWrapper' class = 'no_display'></textarea>
                <br>
                <% if(reviewed === -1) { %>
                  <button type="button" class="btn btn-secondary float_right" id = 'addReviewBtn' onclick = 'setupReview()'>Add a Review</button>
                  <button type="button" class="btn primary_btn float_right no_display" id = 'submitReviewBtn' onclick = 'submitReview()'>Submit Review</button>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>

      </div>

      <!-- Modal -->
      <% if(locals.selection){ %>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title primary">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <br>
                <p class = 'warning'>This action is permanent.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="primary_btn btn" data-dismiss="modal" onclick= "deleteMovie()" >Delete</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title primary">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This action is permanent.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="primary_btn btn" data-dismiss="modal" id = 'reviewDeleter'>Delete</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title primary">Edit Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <br>
                <textarea id = 'editReviewTextarea'></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="primary_btn btn" data-dismiss="modal" id = 'reviewEditButton'>Submit</button>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript" src = '/js/edit.js'></script>
        <div class="modal fade" id="editModal" tabindex="-2" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title primary">Edit Rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 align_right">
                      <p class = 'primary'>Entertainment Rating :</p>
                    </div>
                    <div class="col-lg-6 col-md-6 align_left">
                      <input type="text" maxlength="1" class = 'rating_input' id = 'entertainment_rating_edit' value = "<%=selection.entertainment_rating%>"> / 5
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 align_right">
                      <p class = 'primary'>Plot Rating :</p>
                    </div>
                    <div class="col-lg-6 col-md-6 align_left">
                      <input type="text" maxlength="1" class = 'rating_input' id = 'plot_rating_edit' value = "<%=selection.plot_rating%>"> / 5
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 align_right">
                      <p class = 'primary'>Style Rating :</p>
                    </div>
                    <div class="col-lg-6 col-md-6 align_left">
                      <input type="text" maxlength="1" class = 'rating_input' id = 'style_rating_edit' value = "<%=selection.style_rating%>"> / 5
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 align_right">
                      <p class = 'primary'>Bias Rating :</p>
                    </div>
                    <div class="col-lg-6 col-md-6 align_left">
                      <input type="text" maxlength="1" class = 'rating_input' id = 'bias_rating_edit' value = "<%=selection.bias_rating%>"> / 5
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-2 col-md-2">

                    </div>
                    <div id='editThemeWrapper' class = 'col-lg-10 col-md-10'>
                      <% for(let i = 0; i < selection.themes.length; i++) { %>
                        <script>addTheme_edit("<%=selection.themes[i]%>")</script>
                      <% } %>
                    </div>
                    <div class="col-lg-2 col-md-2">

                    </div>
                    <div class="col-lg-12 col-md-12">
                      <button type="button" class="btn btn-secondary" onclick = 'addTheme_edit()'>+ Add Theme</button>
                      <br><br>
                    </div>
                  </div>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="primary_btn btn" data-dismiss="modal" onclick= "updateRating()" >Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>


      <!-- ===== Movie Modal ===== -->
      <div class="modal fade" id="movieModal" tabindex="1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title primary">Add a new movie</h5>
            </div>
            <div class="modal-body">
              <p id = 'searchError' class = 'warning'></p>
              <div class="row" id = 'search_page_1'>
                <div class="col-lg-3">
                  <span class = 'primary'> Search : </span>
                </div>
                <div class="col-lg-9">
                  <input type="text" class = 'login_input' name = 'searchBar' id = 'searchBar'/>
                </div>
              </div>
              <div class="container" id = 'search_page_2'>
              </div>
              <div class="container" id = 'search_page_3'>
                <div class="col-lg-12 col-md-12" id="search_poster_wrapper">
                </div> <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Entertainment Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'entertainment_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Plot Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'plot_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Style Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'style_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Bias :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'bias_rating_input'> / 5
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col-lg-2 col-md-2">

                  </div>
                  <div id='themeWrapper' class = 'col-lg-10 col-md-10'>

                  </div>
                  <div class="col-lg-2 col-md-2">

                  </div>
                  <div class="col-lg-12 col-md-12">
                    <button type="button" class="btn btn-secondary" onclick = 'addTheme()'>+ Add Theme</button>
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary padded_sm'>Date Viewed : </p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="date" id='viewingDate' value="<%=getFormattedDate()%>" class = 'login_input'/>
                  </div>
                </div>
              </div>
              </div>
            <div class="modal-footer" id = 'footer_main'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick = 'refreshMovieModal()'>Close</button>
              <button type="button" class="primary_btn btn" onclick= "search()" id = 'searchButton'>Search</button>
            </div>
            <div class="modal-footer" id = 'submit_footer'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="primary_btn btn" id = 'submitButton' data-dismiss = 'modal'>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="loadingScreen">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>


    <!-- Footer -->
    <div class="footer fixed-bottom">
      <p> © JACKSON PROWELL</p>
    </div>
    <!-- Footer -->

    <script src = '/js/loading.js'></script>
    <script type="text/javascript" src = '/js/main.js'></script>
    <script type="text/javascript" src = '/js/reviews.js'></script>
    <script type="text/javascript" src = '/js/jquery.min.js'></script>
    <script type="text/javascript" src = '/js/bootstrap.min.js'></script>
  </body>
</html>
