<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Intake</title>


    <!-- CSS links -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>

    <div id = 'page'>
      <!-- ====== NAV ====== -->
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" id = 'logo' href="/">INTAKE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class = 'col-lg-7 col-md-7'></span>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies">MOVIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">STATS</a>
            </li>
            <li class="nav-item active">
              <% if(friend_requests.length > 0) { %>
                <a class="nav-link" href="/profile">PROFILE <div class = 'friendRequestNotification float_right'><p><%=friend_requests.length %></p></div></a>
              <% } else { %>
                <a class="nav-link" href="/profile">PROFILE</a>
              <% } %>
            </li>
            <li class="nav_button">
              <a href = '#movieModal' data-toggle="modal" data-target="#movieModal" onclick = 'refreshMovieModal()'>
                <span class="nav-link">+</span>
                <div class="add_hover clicker_cursor">
                  Add a movie
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <%
        function getFormattedDate() {
          const todayTime = new Date();
          const month = todayTime.getMonth() + 1;
          const day = todayTime.getDate();
          const year = todayTime.getFullYear();
          return `${month}-${day}-${year}`;
        }
      %>

      <%
        movies.sort((a,b) => a.title > b.title)

      %>

      <!-- ====== MAIN ====== -->
      <div class="container fade_in" id = 'main'>
        <div class="row">

          <% if(friend_requests.length > 0) { %>
            <div class = 'col-lg-3 col-md-3'></div>
            <div class="friendRequestWrapper col-lg-5 col-md-5">
              <h2> Friend Requests </h2>

              <% for(let i = 0; i < friend_requests.length; i++) { %>
                <div class = 'friendRequestBox row' id = 'request_box_<%=friend_requests[i]._id%>'>
                  <div class = 'col-lg-4 col-md-4'>
                    <svg width="60" height="60" class = 'avatarSmall'>
                      <% for(let y = 0; y < 5; y++) {
                        for(let x = 0; x < 5; x++) {
                          if(friend_requests[i].avatar.tilemap[y][x] === 1) { %>
                            <rect x = '<%=x*12%>' y = '<%=y*12%>' width='12' height='12' style='fill:<%=friend_requests[i].avatar.color%>'></rect>
                          <% } else { %>
                            <rect x = '<%=x*12%>' y = '<%=y*12%>' width='12' height='12' style='fill:none%>'></rect>
                          <% } %>
                        <% } %>
                      <% } %>
                    </svg>
                  </div>
                  <div class = 'col-lg-4 col-md-4'>
                    <p class = 'bump_down_x'><%=friend_requests[i].username%></p>
                  </div>
                  <div class = 'col-lg-4 col-md-4'>
                    <p class = 'primary bump_down_x'>Movies Seen : <%=friend_requests[i].movies.length%></p>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <button class = 'btn primary_btn' onclick = 'acceptFriendRequest("<%=friend_requests[i]._id%>")'>Add Friend</button>
                    <p id = 'accept_warning_<%=friend_requests[i]._id%>' class = 'warning'></p>
                  </div>
                </div>
              <% } %>
            </div>
            <div class = 'col-lg-3 col-md-3'></div>
          <% } %>
          <div class = 'col-lg-12 col-md-12 bottom_divider'>
            <div class="row">
              <div class="col-lg-2 col-md-4">
                <div class = 'avatarWrapper float_left'>
                  <svg width='100' height='100' class = 'avatar'>
                    <% for(let y = 0; y < 5; y++) {
                      for(let x = 0; x < 5; x++) {
                        if(avatar.tilemap[y][x] === 1) { %>
                          <rect x = '<%=x*25%>' y = '<%=y*25%>' width='25' height='25' style='fill:<%=avatar.color%>'></rect>
                        <% } else { %>
                          <rect x = '<%=x*25%>' y = '<%=y*25%>' width='25' height='25' style='fill:none%>'></rect>
                        <% } %>
                      <% } %>
                    <% } %>
                  </svg>
                </div>
              </div>
              <div class="col-lg-6 col-md-4 float_center">
                <h1 class = 'float_left'><%= username %></h1>
              </div>
              <div class="col-lg-4 col-md-4 float_center">
                <a href = "#account_settings" data-toggle="collapse">
                  <svg height="10" width="120" class = 'hover_opacity clicker_cursor float_right'>
                    <circle cx="17" cy="5" r="3" fill="#D5D5D5" />
                    <circle cx="32" cy="5" r="3" fill="#D5D5D5" />
                    <circle cx=47 cy="5" r="3" fill="#D5D5D5" />
                  </svg>
                </a>
              </div>
              <div class="col-lg-10 col-md-10"></div>
              <div class="movie_options collapse col-lg-2 col-md-2 float_right bump_up_plus bump_left_sm" id = 'account_settings'>
                <p class = 'clicker_cursor bold border_bottom'><a  data-toggle="modal" data-target="#confirmationModal">Logout</a></p>
                <p class = 'clicker_cursor bold bump_up'><a  data-toggle="modal" data-target="#deleteModal">Delete Account</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class = 'row bottom_divider'>
          <div class="col-lg-12 col-md-12r">
            <br>
            <h3 class = 'primary'> 19 Club </h3>
            <p>Your movies with a total rating of 19 or higher.</p>
            <br>
            <div class="row">
              <% movies.forEach((movie) => { %>
                <% if(movie.total_rating >= 19) { %>
                <div class="col-lg-4 col-md-4">
                  <a href = <%= '/movies/' + movie._id %>><img src=<%= movie.poster %> width="200" alt=<%= movie.title %> class = 'poster'/></a>
                  <p class = 'rating_overview'><%= movie.total_rating %> / 20</p>
                </div>
              <% } %>
              <% }) %>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h3 class = 'primary float_center'>Friends</h3>
            <br>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#friendModal">Add a Friend</button>
            <br><br>
            <% for(let i = 0; i < friends.length; i++) { %>
              <div class = 'row clicker_cursor' onclick = 'window.location.pathname="/friends/<%=friends[i]._id%>"'>
                <div class="col-lg-3 col-md-3"></div>
                <div class = 'col-lg-3 col-md-3'>
                  <svg width="60" height="60" class = 'avatarSmall float_right'>
                    <% for(let y = 0; y < 5; y++) {
                      for(let x = 0; x < 5; x++) {
                        if(friends[i].avatar.tilemap[y][x] === 1) { %>
                          <rect x = '<%=x*12%>' y = '<%=y*12%>' width='12' height='12' style='fill:<%=friends[i].avatar.color%>'></rect>
                        <% } else { %>
                          <rect x = '<%=x*12%>' y = '<%=y*12%>' width='12' height='12' style='fill:none%>'></rect>
                        <% } %>
                      <% } %>
                    <% } %>
                  </svg>
                </div>
                <div class = 'col-lg-3 col-md-3'>
                  <p class = 'bump_down_x float_left'><%=friends[i].username%></p>
                </div>
                <div class="col-lg-3 col-md-3"></div>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container">
                <p class = 'warning'>Are you sure?</p>
              </div>
              <br><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="primary_btn btn" onclick = 'logout()'>Logout</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="friendModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title primary">Add a Friend</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <br>
              <span class = 'warning clear' id = 'addFriendError'></span>
              <div class="row">
                <div class="col-lg-3">
                  <span class = 'primary'> Username: </span>
                </div>
                <div class="col-lg-9">
                  <input type="text" class = 'login_input' name = 'friendSearch' id = 'friendSearch'/>
                </div>
                <div class="col-lg-12 col-md-12 overflowed" id = 'usersWrapper'></div>
                <div class="col-lg-12 col-md-12 no_display" id = 'profileWrapper'>
                  <br>
                  <div class="col-lg-12 col-md-12">
                    <div class="avatarWrapper float_center">
                      <svg id = 'profilePreviewAvatar' class = 'avatar' width = '80' height = '80'></svg>
                      <br><br>
                      <h2 id = 'profilePreviewUsername'></h2>
                      <br><br>
                    </div>
                    <br><br><br>
                    <div class="stat_box checkered float_center bump_down">
                      <p><span class = 'primary'>Movies Seen: </span><span id = 'profilePreviewMoviesSeen'>5</span></p>
                      <p><span class = 'primary'>Friends: </span><span id = 'profilePreviewFriends'>12</span></p>
                      <p><span class = 'primary'>Reviews: </span><span id = 'profilePreviewReviews'>0</span></p>
                      <p class = 'primary'>User Since <span id = 'profilePreviewDateRegistered'>February, 2020</span></p>
                    </div>
                    <br>
                    <button class = 'btn primary_btn' onclick = 'addFriend()' id = 'friendAddButton'>Add Friend</button>
                    <p class = 'warning' id = 'friendRequestError'></p>
                  </div>
                  <br><br>
                </div>
              </div>
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="primary_btn btn" onclick = 'addFriend()'>Search</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container">
                <h3>Please enter your username:</h3>
                <p id = 'username_mismatch' class = 'warning hidden'>The inputted username doesn't match out records.</p>
                <div class="row">
                  <div class="col-lg-12">
                    <input type="text" class = 'login_input' name = 'username_confirmation' id = 'username_confirmation'/>
                  </div>
                </div>
              </div>
              <br><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="primary_btn btn" onclick = 'deleteAccount("<%=username%>")'>Delete Account</button>
            </div>
          </div>
        </div>
      </div>


      <!-- ===== Movie Modal ===== -->
      <div class="modal fade" id="movieModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title primary">Add a new movie</h5>
            </div>
            <div class="modal-body">
              <p id = 'searchError' class = 'warning'></p>
              <div class="row" id = 'search_page_1'>
                <div class="col-lg-3">
                  <span class = 'primary'> Search : </span>
                </div>
                <div class="col-lg-9">
                  <input type="text" class = 'login_input' name = 'searchBar' id = 'searchBar'/>
                </div>
              </div>
              <div class="container" id = 'search_page_2'>
              </div>
              <div class="container" id = 'search_page_3'>
                <div class="col-lg-12 col-md-12" id="search_poster_wrapper">
                </div> <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Entertainment Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'entertainment_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Plot Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'plot_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Style Rating :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'style_rating_input'> / 5
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary'>Bias :</p>
                  </div>
                  <div class="col-lg-6 col-md-6 align_left">
                    <input type="text" maxlength="1" class = 'rating_input' id = 'bias_rating_input'> / 5
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col-lg-2 col-md-2">

                  </div>
                  <div id='themeWrapper' class = 'col-lg-10 col-md-10'>

                  </div>
                  <div class="col-lg-2 col-md-2">

                  </div>
                  <div class="col-lg-12 col-md-12">
                    <button type="button" class="btn btn-secondary" onclick = 'addTheme()'>+ Add Theme</button>
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 align_right">
                    <p class = 'primary padded_sm'>Date Viewed : </p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="date" id='viewingDate' value="<%=getFormattedDate()%>" class = 'login_input'/>
                  </div>
                </div>
              </div>
              </div>
            <div class="modal-footer" id = 'footer_main'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick = 'refreshMovieModal()'>Close</button>
              <button type="button" class="primary_btn btn" onclick= "search()" id = 'searchButton'>Search</button>
            </div>
            <div class="modal-footer" id = 'submit_footer'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="primary_btn btn" id = 'submitButton' data-dismiss = 'modal'>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loadingScreen">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <script src = '/js/loading.js'></script>
    <script type="text/javascript" src = '/js/main.js'></script>
    <script type="text/javascript" src = '/js/profile.js'></script>
    <script type="text/javascript" src = '/js/jquery.min.js'></script>
    <script type="text/javascript" src = '/js/bootstrap.min.js'></script>


    <!-- Footer -->
    <div class="footer fixed-bottom">
      <p> © JACKSON PROWELL</p>
    </div>

  </body>
</html>
